.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &>* {
    flex: 1;
  }

  section {
    display: flex;
    padding: 96px 24px;
    gap: 48px;
    justify-content: space-around;
    align-items: center;

    &:nth-of-type(odd) {
      background: #FBF4FE;
    }

    &:nth-of-type(even) {
      background: #FDF2F8;
    }
  }

  span:nth-of-type(1) {
    color: rgb(var(--color-primary));
  }

  span:nth-of-type(2) {
    color: rgb(var(--color-secondary));
  }

  h1 {
    margin-bottom: 16px;
  }
}

.landing--main-text {
  max-width: 704px;
  margin-bottom: 24px;
}

.landing--small-note {
  font-size: var(--fs-small);
}

.landing--buttons {
  display: flex;
  gap: 8px;
}

.landing--demo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 384px;
  min-height: 322px;
  padding: 24px;
  gap: 8px;

  background-color: rgb(var(--color-light));
  border-radius: 8px;
  border: 1px solid rgb(var(--color-primary) / .5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  position: relative;

  h2 {
    color: rgb(var(--color-primary));
    margin-bottom: 16px;
  }

  &::before {
    content: "Demo 100% real";
    position: absolute;
    top: -8px;
    right: -24px;
    padding: 8px;
    background-color: rgb(var(--color-secondary));
    border-radius: 24px;
    font-size: var(--fs-small);
    transform: rotate(20deg);
  }
}

.landing--prompt,
.landing--response {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid;
}

.landing--prompt {
  background-color: rgb(var(--color-primary) / .2);
  border-color: rgb(var(--color-primary) / .8);
  margin-bottom: 8px;
}

.landing--response {
  background-color: rgb(var(--color-secondary) / .2);
  border-color: rgb(var(--color-secondary) / .8);
}