:root {
  --color-primary: 147 51 234;
  --color-primary-dark: 126 34 206;
  --color-secondary: 219 39 119;
  --color-text-body: 75 85 99;
  --color-light: 255 255 255;

  --fs-display: 3rem;
  --fs-big: 1.25rem;
  --fs-body: 1rem;
  --fs-small: 0.75rem;

  font-family: "GeistSans", "GeistSans Fallback", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;

  color: #000;
  font-size: var(--fs-body);
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

h1 {
  font-size: var(--fs-display);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-big);
  font-weight: 700;
}

p {
  font-size: var(--fs-body);
  color: rgb(var(--color-text-body));
  font-weight: 400;
}